/*! purgecss start ignore */
@tailwind base;
@tailwind components;
/*! purgecss end ignore */
@tailwind utilities;
.bg-pj-gray {
  background-color: #828f98;
}
.pj-button {
  box-shadow: -2px -2px 4px #95a4ae, 2px 2px 4px #616f79;
  border-radius: 6px;
  transition: 0.4s;
}
.pj-button:hover {
  box-shadow: -1px -1px 2px #95a4ae, 1px 1px 2px #616f79;
}
.pj-button-icon {
  box-shadow: -2px -2px 4px rgba(255, 255, 255, 0.25), 2px 2px 2px #616f79;
  border-radius: 10px;
  transition: 0.2s;
}
.pj-button-icon:hover {
  box-shadow: -1px -1px 2px #95a4ae, 1px 1px 2px #616f79;
}
.pj-section-bar {
  position: fixed;
  height: calc(100vh - 80px);
  width: 8px;
  background: #828f98;
  box-shadow: inset 2px 2px 4px rgba(255, 255, 255, 0.25),
    inset -2px -2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}
.pj-title-underber {
  height: 8px;
  background: #828f98;
  box-shadow: inset 2px 2px 4px rgba(255, 255, 255, 0.25),
    inset -2px -2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  margin: 3px auto auto auto;
}
.pj-img-outer {
  /* width: 85%; */
  /* margin: 3% auto; */
  /* background: #828f98; */
  box-shadow: inset -2px -2px 2px rgba(255, 255, 255, 0.2),
    inset 2px 2px 2px rgba(97, 111, 121, 0.6);
  border-radius: 10px;
  text-align: center;
}
.pj-youtube {
  padding-bottom: 50%;
}
.pj-sp-navbar {
  box-shadow: inset 0px 5px 4px rgba(255, 255, 255, 0.25),
    inset 1px -1px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px 10px 0 0;
}
.text-xxs {
  font-size: 0.5rem;
}

.pj-post-sentence a {
  color: #ff8845;
  text-decoration: underline;
}
.pj-post-sentence {
  color: #d6d6d6;
}
.pj-post-sentence h1 {
  color: white;
  margin: 1.25rem auto;
  font-size: 1.5rem;
}
.pj-post-sentence h2 {
  color: white;
  margin: 1.25rem auto;
  font-size: 1.25rem;
  font-weight: bold;
}
.pj-post-sentence h3 {
  color: white;
  margin: 1.25rem auto;
  font-size: 1.125rem;
  font-weight: bold;
}
.pj-post-sentence ul {
  color: white;
  margin: 1.25rem auto;
}
.pj-post-sentence ul li {
  position: relative;
  width: 94%;
  padding-left: 30px;
  margin: 1.125rem auto;
}
.pj-post-sentence ul li::before {
  display: inline-block;
  position: absolute;
  left: 0px;
  top: 7px;
  width: 10px;
  height: 10px;
  color: rgb(255, 255, 255);
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  content: "";
  border-radius: 50%;
  background: rgb(32, 168, 234);
}
.pj-post-sentence ol {
  color: white;
  margin: 1.25rem auto;
  counter-reset: number 0;
}
.pj-post-sentence ol li {
  position: relative;
  width: 94%;
  padding-left: 30px;
  margin: 1.125rem auto;
}
.pj-post-sentence ol li::before {
  display: inline-block;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 25px;
  height: 25px;
  color: rgb(255, 255, 255);
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  line-height: 25px;
  content: counter(number);
  counter-increment: number 1;
  border-radius: 50%;
  background: rgb(32, 168, 234);
}

.pj-post-sentence blockquote {
  color: white;
  margin: 1.25rem auto;
  padding: 1.125rem 0 1.125rem 10px;
  border-left: 5px solid orange;
}

.pj-post-sentence p > img {
  margin: 0 auto;
  display: block;
  max-height: 400px;
  border-radius: 10px;
}
